#signup{
    min-height: 100%;
    background: #f0f6fe;
    overflow: auto;
    >.mainter{
    	width: 1200px;
	    margin: 0 auto;
	    height: 100%;
		>.top{
			height: 80px;
			line-height: 80px;
			margin: 0 0 30px 0;
	    	>span{
			    color: #848484;
			    font-size: 20px;
	    	}
	    	>ul{
	    		display: inline-block;
	    		float: right;
	    		>li{
	    			display: inline-block;
	    			a{
	    				color: #999;
	    			}
	    		}
	    	}
	    }
	    >.con{
	    	background: #fff;
    	    border: 1px solid #eaeaea;
            min-height: calc(100% - 110px);
            >.stepline{
            	width: 1100px;
	            margin: 0 auto;
	            margin-bottom: 20px;
            	ul{
            		display: flex;
            		li{
            			border-bottom: 3px solid #ccc;
					    color: #ccc;
					    flex: 1;
					    padding-top: 60px;
					    text-align: center;
					    font-size: 16px;
					    padding-bottom: 10px;
            		}
            		.steps{
            			border-bottom: 3px solid #009fd9;
					    color: #009fd9;
            		}
            	}
            }
            .step1btn{
            	width: 260px;
            }
            .step1{
            	width: 70%;
			    float: left;
            	>.el-form{
            	    width: 50%;
            	}
            }
            .step2{
            	height: 2000px;
            }
            .helfs{
			    width: 30%;
			    border-left: 1px solid #eee;
			    padding: 20px 6%;
            	float: right;
            	>span{
            		font-size: 16px;
            	}
            	>.helftip{
            		font-size: 14px;
            		margin: 30px 0 10px 0;
            	}
            	>ul{
            		li{
            			font-size: 12px;
            			line-height: 25px;
            		}
            	}
            }
	    }
    }
    
}